<a href="https://colab.research.google.com/github/Zaine-eng/Python-para-an-lise-de-dados/blob/main/Aula_03_N%C3%BAmeros_e_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **3. Números**

# **3.1. Problema envolvendo ticket médio**

Você precisa calcular o **ticket médio** diário tkt do seu restaurante. A métrica é calculada pela soma do valor das vendas svv de um mesmo dia dividido pela quantidade de vendas sqv, também de um mesmo dia.

Esta é a planilha:

![image.png]()

Como podemos resolver esse problema de cálculo usando o Python?

# **3.2. Definição**

Armazenam **valores némericos:**



*   10, 37, 500 (inteiros);
*   0.333, 10.1 (decimais);
*   1+ 2j (complexos);

São tipos:

*   int (inteiros);
*   float (decimais);
*   complex (complexos);

In [24]:
print(type(37))
print(type(10.1))
print(type( 1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

# **3.3. Operações**

As operações dos tipos numéricos são as quatro operações matemátias fundamentais:



*   '+ (soma); 
* '- (subtração);
*  '* (multiplicação);
* '/ (divisão). 

Além de operações mais avançadas: 



*   // (divisão inteira);
*   ** (potência ou exponenciação);
*   % (resto de divisão).

**EX: Carrinho de compra de um e-commerce**

In [3]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1 
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra - 1 
print(qtd_itens_carrinho_compra)

1
0

Você pode utilizar o '+=' para que o seu código ficar mais enxuto, ou seja, você está adicionando e atribuindo um valor da mesma maneira, sempre trabalhando com uma mesma variável.

In [6]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra += 1 
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra -= 1 
print(qtd_itens_carrinho_compra)

1
0

**Exemplo**: Total a pagar de um produto.

In [20]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar)

11.75

Abaixo temos um exemplo de como obter uma informação númerica com uma divisão inteira e outra decimal.

In [ ]:
a = 3
b = 2 
c= a /b
d= a//b 

print(c)
print(type(c))
print(d)
print(type(d))

# **3.4. Conversão**

Podemos converter os tipor númericos entre si utilizando o método nativo int, float e complex:

In [19]:
 print(int(3.9))

 print(float(10))

 print(complex(1))

3
10.0
(1+0j)

# **3.5. Resolvendo o problema de ticket médio acima temos:**

Para o dia 19/01.

In [15]:
svv_19 = 153.98
sqv_19 = 3 

tckt_19 = svv_19 / sqv_19
print(tckt_19)

51.32666666666666

Para o dia 20/01.

In [17]:
svv_20 = 337.81
sqv_20 = 7

tckt_20 = svv_20 / sqv_20
print(tckt_20)

48.25857142857143

Para o dia 23/01.

In [18]:
svv_23 = 295.33
sqv_23 = 5

tckt_23 = svv_23 / sqv_23
print(tckt_23)

59.065999999999995

O ticket médio é dado por:

In [23]:
tkt = (tckt_19 + tckt_23 + tckt_20) / 3
print(tkt)

52.88374603174603

O valor de 52.88 corresponde a média do cliente ao consumir algo no restaurante analisado.

# **4. Strings**

# **4.1. Problema de longitude e latitude**

A empresa que você trabalha adquiriu uma startup de logistica. Você precisa identificar todos endereços que são comum a ambas. Na sua empresa, você armazena a latitude e longitude dos endereços em duas variáveis *lat* e *lon*, já na startup adquirida em uma única varável *latlon*.

In [31]:
# sua empresa 

lat = '=22.005320'
lon = '-47.891040'

# startup adquirida 

latlon = '-22.005320; -47.891040'

Como podemos normalizar a forma com que as latitudes e longitudes são armazenadas para que possam ser comparadas?

# **4.2. Definição**

Armazenam **textos:**

*   Z, **DZainer**, Zaine Vasconcelos, 26 anos (texto)

São tipos de str:

In [ ]:
nome_aula = "Aula 04, módulo 01, Strings"

print(nome_aula)
print(type(nome_aula))

In [26]:
string_vazia = " "

print(string_vazia)
print(type(string_vazia))

<class 'str'>

# **4.3. Operações**

As operações de variáveis do tipo string são: 

*   +(concatenação).

**Exemplo**: Nome Completo

In [28]:
nome = 'Zaine'
sobrenome = 'Vasconcelos'

apresentacao = 'Olá, meu nome é ' + nome + ' ' + sobrenome + '.'
print(apresentacao)

Olá, meu nome é Zaine Vasconcelos.

Uma outra forma de concatenar strings é utilizar operações de formatação:

In [30]:
nome = 'Zaine'
sobrenome = 'Vasconcelos'

apresentacao = f'Olá, meu nome é  {nome} {sobrenome}.'
print(apresentacao)

Olá, meu nome é  Zaine Vasconcelos.

Outra operação muito utilizada é a de fatiamento (slicing):

**Exemplo**: Informações de e-mail.

In [4]:
email = 'zaine.vasconcelos@gmail.com'

Fatiamento fixo:

In [7]:
print('0:' + email[0])
print('11:' + email[11])

0:z
11:n

Quando utilizamos valores negativos estamos apontando para os valores ou caracteres de trás para frente, assim:

In [8]:
print('-2:' + email[-2])
print('-6:' + email[-6])

-2:o
-6:i

Fatiamento por intervalo: 

Lembre-se no fatiamento por intervalo a gente não pega o último caracter do fim, é sempre ele -1, ou seja, 'n-1'.

In [21]:
email_usuario = email [0:17]
print(email_usuario)

zaine.vasconcelos

In [17]:
email_provedor = email [17:28]
print(email_provedor)

@gmail.com

# **4.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com strings:

In [22]:
endereco = 'Rua Est thiago, 500, João Pessoa, Paraíba, Brasil.'

In [23]:
# maiusculo: string.upper()
print(endereco.upper())

RUA EST THIAGO, 500, JOÃO PESSOA, PARAÍBA, BRASIL.

In [25]:
# posicao: string.find(substring)
posicao = endereco.find('Brasil')
print(posicao)

43

In [27]:
# substituição: string.replace(antigo, novo)
print(endereco.replace('Est', 'Estudante'))

Rua Estudante thiago, 500, João Pessoa, Paraíba, Brasil.

# **4.5. Conversão**

Podemos converter *strings* em tipos numéricos e vice-versa.

In [28]:
idade = 26
print(type(idade))

idade = str (idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [29]:
faturamento = 'R$ 80mi'
print(faturamento)
print(type(idade))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

R$ 80mi
<class 'str'>
80
<class 'int'>

##**4.6. Resolvendo nosso problema incial de latitude e longitude**

Encontrando a posição do caracter ; de divisão das strings de latitude e longitude da variável da startup:

In [32]:
posicao_char_divisao = latlon.find(';')
print(posicao_char_divisao)

10

Extraindo a latitude:

In [34]:
lat_startup = latlon[0:posicao_char_divisao]
print(lat_startup)

-22.005320

Extraindo a longitude:

In [36]:
lon_startup = latlon[posicao_char_divisao+1:len(latlon)]
print(lon_startup)

 -47.891040

Fim da Aula_03 ⚡ ✅

---