<a href="https://colab.research.google.com/github/Zaine-eng/Python-com-Google-Colab/blob/main/Aula_06_Python_fluxo_condicional_e_repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fluxo Condicional & Repetição**

# **1. Estrutura condicional if / else / elif**

# *1.1.* If / else

**Altera o fluxo lógico do código**, avalia um valor booleano ou uma comparação lógico. Veja a identificação do código.

*Permite tomar decisões para vemos para bloco de código irá executar.*

In [ ]:
if <booleano / comparação lógica> == True:
  <execute este código>

else:
  <senão execute este código>

In [2]:
if False: 
    print('Verdadeiro')
else: 
    print('Falso')

Falso

**Exemplo**: Código de segurança de um cartão de crédito.

In [3]:
codigo_de_seguranca = '250'
codigo_seguranca_cadastrado = '562'
pode_efetuar_pagamento = codigo_de_seguranca == codigo_seguranca_cadastrado
print(pode_efetuar_pagamento)

False

Abaixo temos a condição logo dentro do if.

In [4]:
if codigo_de_seguranca == codigo_seguranca_cadastrado: 
  print("Pagamento efetuado")
else: 
  print("Erro: Código de segurança inválido")

Erro: Código de segurança inválido

In [5]:
if pode_efetuar_pagamento:
  print("Pagamento efetuado")
else:
  print("Erro: Código de segurança inválido")

Erro: Código de segurança inválido

**Exemplo**: Código e senha de segurança de um cartão de crédito

In [6]:
codigo_de_seguranca = '805'
codigo_de_seguranca_cadastro = '852'

senha = '0000'
senha_cadastro = '0000'

**UTILIZE A TABELA VERDADE PARA O ENTENDIMENTO ABAIXO:**

In [7]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro): 
  print("Pagamento efetuado")
else:
  print("Erro: Pagamento não efetuado")

Erro: Pagamento não efetuado

'!=' significa ser diferente.

In [8]:
if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadastro): 
  print("Erro: Pagamento não efetaudo")
else:
  print("Pagamento efetuado")

Erro: Pagamento não efetaudo

Ilustrar o uso do or ou and para a operação.

# **1.2. if / elif / else**

Podemos também avaliar múltipla condições.

*lembre-se pode utilizar quantas elif for necessário. *

In [ ]:
if <1º booleano / 1ª comparação lógica> == True:
  <execute este código se a primeira condição for verdade>
elif <2º booleano / 2ª comparação lógica> == True:
  <execute este código se a primeira condição for verdade>
else:
  <senão execute este código>

In [28]:
codigo_de_seguranca = '123'
codigo_de_seguranca_cadastro = '123'

senha = '9874'
senha_cadastro = '0000'

Uso novamente da tabela verdade abaixo:

![image.png]()

In [29]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Pagamento efetuado")
elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha_cadastro):  
  print("Erro: Código de segurança inválido")
elif (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha != senha_cadastro): 
  print("Erro: Senha inválida")
else:
  print("Erro: Código de segurança e senha inválidos")

Erro: Senha inválida

# **2. Estrutura condicional try / except/finally**

# **2.1. Exceção**

Exceções são erros que podem acontecer durante a execução do nosso código.

**Exemplo**: Erro de operações numéricas que não fazem sentido ou são impossíveis.

In [12]:
preco = 132.85
pessoas = 0

In [ ]:
valor_por_pessoa = preco / pessoas

**Exemplo**: Erro por combinações de tipos diferentes

In [35]:
nome = 'Zaine Vasconcelos'
idade = 26.5

In [ ]:
apresentacao = 'Fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + 'anos'

**Exemplo**: Erro de indexação de estruturas de dados.

In [37]:
anos = [2019,2020,2021]

In [ ]:
ano_atual = anos [3]

In [ ]:
cursos = {
    'python' : {
        'nome' : 'Python para Análise de Dados',
        'duracao' : 2.5
        },
  
    'sql' : {
            'nome' : 'SQL para Análise de Dados'
            'duracao' : 2 
        }
}

In [39]:
curso_atual = cursos ['analista']

NameError: ignored

2.2. try / except 

Estrutura para tratar exceções:

In [43]:
preco = 132.85 
pessoas = 0

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except  ZeroDivisionError:
  print(
      'Número de pessoas inválido.' +
      'Espera-se um valor maior que 0' +
      'e obteve-se um valor igual a ' +
      str (pessoas)
  )

66.425

O *exception* registra todo tipo de erro.

In [44]:
anos = [2019,2020,2021]

try:
  ano_atual = anos [3]
  print(ano_atual)

except Exception:
  print(
      'Lista de anos é menor' +
      ' que o valor escolhido. ' +
      ' Espera-se um valor entre 0 e ' +
      str (len(anos) -1)
  )

Lista de anos é menor que o valor escolhido.  Espera-se um valor entre 0 e 2

explore  erros específicos, não se mantenha ao erro genérico.

In [45]:
anos = [2019,2020,2021]

try:
  ano_atual = anos [3]
  print(ano_atual)

except Exception as exc:
  print('Descrição da esceção: ' + str(exc))
  print('Tipo de exceção: ' + str(type(exc)))
  print( 
      'Lista de anos é menor que o valor ' + 
      'escolhido. Espera-se um valor entre 0 e' +
      str (len(anos) -1)
  )

Descrição da esceção: list index out of range
Tipo de exceção: <class 'IndexError'>
Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e2

In [46]:
anos = [2019,2020,2021]

try:
  ano_atual = anos [3]
  print(ano_atual)

except IndexError:
  print( 
      'Lista de anos é menor que o valor ' + 
      'escolhido. Espera-se um valor entre 0 e' +
      str (len(anos) -1)
  )
except Exception as exc: 
  print(exc)
  print('Erro genérico')

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e2

# **2.3 try / except / finally**

Blocos de *finally* são utilizados mais para conexôes.

In [56]:
nome = 'Zaine Vasconcelos'
idade = 26

try:
  apresentacao = 'fala pessoal, meu nome é  '  + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)
except TypeError: 
  idade = str(idade)
finally:
  print('Segunda chance')
  apresentacao = 'Fala pessoal, meu nome é' + nome + 'e eu tenho ' + idade + 'anos'
  print(apresentacao)

Segunda chance
Fala pessoal, meu nome éZaine Vasconcelose eu tenho 26anos

# **3. Estrutura repetição for / in**

# **3.1. for / in**

Estrutura que permite a execução repetida de um bloco de código repetidas vezes.

In [ ]:
for variavel_temporaria in coleção: 
   <execute este código>

# **3.2. for / in / range**

Estrutura que permite a execução repetida de um bloco de código **n** vezes.

O range permite a gente criar uma coleção temporária de números inteiros.

In [60]:
for valor in range(6):
  print(valor)

0
1
2
3
4
5

Outra forma de usar o Range é definimos um valor inicial e outro valor final.

In [64]:
soma = 0 

for valor in range(0, 10):
  soma = soma + valor
  print(soma)


#print do valor da soma do final do processo. 
print(soma)

0
1
3
6
10
15
21
28
36
45
45

Nesse uso do Range abaixo podemos especificar quantos passos queremos para a interação.

Abaixo vemos ele inteirar de 2 até 9, que seria '10-1', com passos de 2.

In [65]:
for multiplo_dois in range(2, 10, 2): 
  print(multiplo_dois)

2
4
6
8

# **3.3 for / in/ list**

Estrutura que permite a execução de um bloco de código para todos os elementos de uma lista.

Quando definimos listas é interrantes defini-las no plural, pois ela sempre estará guardando elementos do mesmo tipo.

In [67]:
frutas = [
         'maça',
         'banana',
         'laranja',
         'uva',
         'pera'
]

for fruta in frutas:
  print(fruta)

maça
banana
laranja
uva
pera

In [69]:
frase = 'Fala pessoal, meu nome é Zaine Vasconcelos.'

for caracter in frase: 
  if (caracter == 'Z')  | (caracter == 'A'):
    print(
        f" A letra '{caracter}' está presente na frase."
    )

 A letra 'Z' está presente na frase.

Vemos que a letra f concatena strings

# **3.4 for / in/ dic**

Estrutura que permite a execução de um bloco de código para todos os elementos de um dicionário.

Dicionário = composto por uma chave : valor.

In [18]:
credito = {'123': 750, '456': 812, '789':980}

Abaixo o python descreve para cada um dos funcionário o valor da chave/valor em questão.

In [74]:
for chave,valor in credito.items(): 
  print(f'Para o documento {chave}, o valor de escore de crédito é {valor}.')
  print('\n')

Para o documento 123, o valor de escore de crédito é 750.


Para o documento 456, o valor de escore de crédito é 812.


Para o documento 789, o valor de escore de crédito é 980.

O \n significa pular a linha.

Agora vamos atuar apenas em cima das chaves:

In [78]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do escore de crédito é {credito[chave]}.')
  print('\n')

123
750
Para o documento 123, o valor do escore de crédito é 750.


456
812
Para o documento 456, o valor do escore de crédito é 812.


789
980
Para o documento 789, o valor do escore de crédito é 980.

Abaixo perdemos a referência do valor da chave.

In [19]:
for valor in credito.values():
  print(valor)
  print(
      f' O valor do escore de crédito é' + '{valor}, mas não temos mais as chaves:(.'
  )
  print('\n')

750
 O valor do escore de crédito é{valor}, mas não temos mais as chaves:(.


812
 O valor do escore de crédito é{valor}, mas não temos mais as chaves:(.


980
 O valor do escore de crédito é{valor}, mas não temos mais as chaves:(.

# **3.5. break / continue**

Estrutura que permite a quebra ou avanço de um laço de repetição.

O break = quebra do loop.

In [82]:
for i in range(0,10*10*10*10*10*10):
  print(i)
  if i == 3:
    break

0
1
2
3

O operador % retira o módulo.

In [83]:
numero = 3

if numero % 2 == 0:
  print(f'O numero {numero} é par')
else:
  print(f'O numero {numero} é impar')

O numero 3 é impar

Jogamos o laço **for** dentro de uma coleção de números, ou seja, ao encontrar o valor que procuramos, damos um brek no loop.

In [84]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros: 

  if numero % 2 == 0: 
    print(f'O numero {numero} é par')
    break
  else:
    print(f'O numero {numero} é impar')

O numero 361 é impar
O numero 553 é impar
O numero 194 é par

Quando chega no **continue** o código não executa o restante do código, parte para a próxima repetição. 

(no exemplo abaixo, temos o uso do **break** e do **continue**)

In [85]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros: 

  if numero % 2 == 0: 
    print(f'O numero {numero} é par')
    break
  else:
    continue
    print(f'O numero {numero} é impar')

O numero 194 é par



---

# **Exercício**



---

Na lista **propaganda_online** abaixo, estão presente os dados de usuários que
acessaram um determinado site e se o mesmo clicou em uma propaganda.

In [88]:
propaganda_online = [
 {
 'tempo_gasto_site': 68.95, 'idade': 35,
 'renda_area': 61833.90, 'tempo_gasto_internet': 256.09,
 'cidade': 'Wrightburgh', 'pais': 'Tunisia',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 80.23, 'idade': 31,
 'renda_area': 68441.85, 'tempo_gasto_internet': 193.77,
 'cidade': 'West Jodi', 'pais': 'Nauru',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 69.47, 'idade': 26,
 'renda_area': 59785.94, 'tempo_gasto_internet': 236.50,
 'cidade': 'Davidton', 'pais': 'San Marino',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 68.37, 'idade': 35,
 'renda_area': 73889.99, 'tempo_gasto_internet': 225.58,
 'cidade': 'South Manuel', 'pais': 'Iceland',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 88.91, 'idade': 33,
 'renda_area': 53852.85, 'tempo_gasto_internet': 208.36,
 'cidade': 'Brandonstad', 'pais': 'Myanmar',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': None, 'idade': 48,
 'renda_area': 24593.33, 'tempo_gasto_internet': 131.76,
 'cidade': 'Port Jefferybury', 'pais': 'Australia',
 'clicou_no_ad': 1
 },
 {
 'tempo_gasto_site': 74.53, 'idade': 30,
 'renda_area': 68862.00, 'tempo_gasto_internet': 221.51,
 'cidade': 'West Colin', 'pais': 'Grenada'
 },
 {
 'tempo_gasto_site': 69.88, 'idade': 20,
 'renda_area': 55642.32, 'tempo_gasto_internet': 183.82,
 'cidade': 'Ramirezton', 'pais': 'Ghana',
 'clicou_no_ad': 0
 }
]

Para iterar pelos elementos da lista, use o código abaixo.

In [89]:
for dado_de_usuario in propaganda_online:
 print(dado_de_usuario)

{'tempo_gasto_site': 68.95, 'idade': 35, 'renda_area': 61833.9, 'tempo_gasto_internet': 256.09, 'cidade': 'Wrightburgh', 'pais': 'Tunisia', 'clicou_no_ad': 0}
{'tempo_gasto_site': 80.23, 'idade': 31, 'renda_area': 68441.85, 'tempo_gasto_internet': 193.77, 'cidade': 'West Jodi', 'pais': 'Nauru', 'clicou_no_ad': 0}
{'tempo_gasto_site': 69.47, 'idade': 26, 'renda_area': 59785.94, 'tempo_gasto_internet': 236.5, 'cidade': 'Davidton', 'pais': 'San Marino', 'clicou_no_ad': 0}
{'tempo_gasto_site': 68.37, 'idade': 35, 'renda_area': 73889.99, 'tempo_gasto_internet': 225.58, 'cidade': 'South Manuel', 'pais': 'Iceland', 'clicou_no_ad': 0}
{'tempo_gasto_site': 88.91, 'idade': 33, 'renda_area': 53852.85, 'tempo_gasto_internet': 208.36, 'cidade': 'Brandonstad', 'pais': 'Myanmar', 'clicou_no_ad': 0}
{'tempo_gasto_site': None, 'idade': 48, 'renda_area': 24593.33, 'tempo_gasto_internet': 131.76, 'cidade': 'Port Jefferybury', 'pais': 'Australia', 'clicou_no_ad': 1}
{'tempo_gasto_site': 74.53, 'idade': 30, 'renda_area': 68862.0, 'tempo_gasto_internet': 221.51, 'cidade': 'West Colin', 'pais': 'Grenada'}
{'tempo_gasto_site': 69.88, 'idade': 20, 'renda_area': 55642.32, 'tempo_gasto_internet': 183.82, 'cidade': 'Ramirezton', 'pais': 'Ghana', 'clicou_no_ad': 0}

1.1. Crie uma lista chamada **paises** com o pais dos usuários com mais de 30 anos.

In [100]:
 paises = []
for dado_de_usuario in propaganda_online:
  if (dado_de_usuario['idade']>30):
    paises.append(dado_de_usuario['pais'])
print(paises)

['Tunisia', 'Nauru', 'Iceland', 'Myanmar', 'Australia']

1.2. Crie uma lista chamada **leads** com a renda dos usuários que clicaram na
propaganda.

In [113]:
leads = []
for dado_de_usuario in propaganda_online:
  try:
    if dado_de_usuario['clicou_no_ad'] > 0:
      leads.append(dado_de_usuario)
  except KeyError:
    print('Há usuários cuja informação de clique na propaganda não foi informada')

Há usuários cuja informação de clique na propaganda não foi informada

1.3. Crie uma lista chamada **cidades** com a cidade dos usuários que passaram mais de
70 segundos no site.

In [111]:
cidades = []

for dado_de_usuario in propaganda_online:
  try:
    if dado_de_usuario['tempo_gasto_site'] > 70:
      cidades.append(dado_de_usuario['cidade'])
  except TypeError:
    print('Impossível descrever lista completa, pois há usuários com campo de tempo do site nulo.')

Impossível descrever lista completa, pois há usuários com campo de tempo do site nulo.



---